
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MuSe.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1>MuSe</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        @if (this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catálogos</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="HelpTypes" asp-action="Index">Tipos de ayuda</a>
                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-area="" asp-controller="Moods" asp-action="Index">Sentimientos</a>
                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-area="" asp-controller="Reliabilities" asp-action="Index">Gravedad de la acción</a>
                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-area="" asp-controller="KindOfPlaces" asp-action="Index">Tipos de lugar</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        }
                    </ul>
                            <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Violentometers" asp-action="Index">Violentómetro</a>
                            </li>
                            </ul>
                            @if (this.User.IsInRole("Woman"))
                        {
                            <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Incidents" asp-action="Index">Incidentes</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="WomanDiaries" asp-action="Index">Diario</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OwnWomanPlaces" asp-action="Index">Lugares propios</a>
                            </li>
                        </ul>
                        }
                    @if (this.User.IsInRole("Admin"))
                    {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Womans" asp-action="Index">Mujeres</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Monitors" asp-action="Index">Monitores</a>
                        </li>
                    </ul>
                    }
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Directories" asp-action="Index">Directorio de organizaciones</a>
                        </li>
                    </ul>
@*                    @if (this.User.IsInRole("Woman") && this.User.Identity.IsAuthenticated)
                    { 
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="WomanDiaries" asp-action="Index">Diario</a>
                            </li>
                        </ul>
                    }*@
                </div>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a>@this.User.Identity.Name</a>
                    <a asp-area="" asp-controller="Account" asp-action="Logout"><img src="~/images/logout.png" height="80" width="100" /></a>
                }
                else
                {
                <a asp-area="" asp-controller="Account" asp-action="Login"><img src="~/images/login.png" height="80" width="100" /></a>
                @*<button type="button" onclick="document.getElementById('id01').style.display='block'"><img src="~/images/login.png" height="80" width="100" /></button>
                <div id="id01" class="modal">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <div class="container">
                    <section class="form-register">
                        <h4>Login</h4>
                        @model MuSe.Web.Models.LoginViewModel
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="controls" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="controls" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input asp-for="RememberMe" class="form-check-input" type="checkbox" />
                                    <label asp-for="RememberMe" class="form-check-label"></label>
                                </div>
                                <span asp-validation-for="RememberMe" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Login" class="controls" />
                                <p><a asp-controller="Account" asp-action="CreateAccount">Crear cuenta</a></p>
                            </div>
                        </form>
                    </section>
                    </div>
                </div>*@
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MuSe (Mujer Segura)- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    var modal = document.getElementById('id01');
    window.onclick = function(event)
    {
        if (event.target == modal)
        {
            modal.style.display = "none";
        }
    }
</script>