@model IEnumerable<MuSe.Web.Data.Entities.User>

@{
    ViewData["Title"] = "Mi perfil";
}

@if (this.User.Identity.IsAuthenticated)
{
    <a>@this.User.Identity.Name</a>
    @foreach (var item in Model)
    {
    <a>@Html.DisplayFor(modelItem => item.FullName)</a>
    }
}
else
{
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a>
    </li>
}