@model IEnumerable<MuSe.Web.Data.Entities.Mood>

@{
    ViewData["Title"] = "Sentimientos";
}

<h1>Sentimientos</h1>

<p>
    <a asp-action="Create"><img src="~/images/agregar.png" height="40" width="50" /></a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/editar.png" height="40" width="50" /></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/eliminar.png" height="40" width="50" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
