@model IEnumerable<MuSe.Web.Data.Entities.HelpDirectory>

@{
    ViewData["Title"] = "Directorio de organizaciones";
}

<h1>Directorio de organizaciones</h1>

<p>
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-success">Agregar organización</a>
    }
</p>